@import "main";

form {


  #sign-up-form{
    @include center;
    flex-direction: column;
    border-radius: 1rem;
    h1 {
    @include font-family($font-family:$gill-san,$size:2.5rem,$weight:550);
    
  }

  main {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    div {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      small {
          @include font-family($font-family:$gill-san,$size:1.5rem);
      }
      input {
        height: 2rem;
        background-color: transparent;
      }

      #confirm-password {
        margin-bottom: 1rem;
      }
    }

    button {
      @include button;
    }
    span{
        @include center;
        @include font-family($font-family:$gill-san,$size:1.25rem);
        #sign-in{
        @include font-family($font-family:$gill-san,$size:1.25rem,$color:$text-link-color);
        cursor: pointer;
        }
        
    }
    span{
        small{
        @include font-family($font-family:$gill-san,$size:1.25rem);
            a{
                color: $text-link-color;
                cursor:pointer;
            }
        }
    }
    span{
        @include center;
        gap: 0.5rem;
        @include font-family($font-family:$gill-san,$size:1.25rem);
        display: flex;
        #google-icon{
            background-image: url('/assets/images/google-icon.png');
            width: 3.4rem;
            height: 3.4rem;cursor: pointer;
        }
    }
  }}
}
