<form action="" [formGroup]="signupForm" (ngSubmit)="createAccount()">
  <!-- <div id="login-form">

  </div> -->
  <div id="sign-up-form">
    <h1 id="title">Create your account</h1>
  <main>
    <div class="credentials" id="fullname-div">
      <small>Full Name</small>
      <input type="text" placeholder="Esther Ofosu" 
      formControlName="fullname"
      name="fullname"
      [ngClass]="{invalid: invalidPhonenumber}"
      />
    </div>
    <div class="credetails" id="email-div">
      <small>Email Address</small>
      <input type="text" placeholder="essieofosina78@gmail.com" 
      formControlName="email"
      name="email"
      class="email"
      [ngClass]="{invalid: invalidEmail}"
      />
    </div>
    <div id="phonenumber-div">
      <small>Phone Number</small>
      <input type="text" placeholder="0552472003" 
      formControlName="phonenumber"
      name="phonenumber"
      [ngClass]="{invalid: invalidPhonenumber}"
      />
    </div>
    <div id="password-div">
      <small>Password</small>
      <input type="password" />
    </div>
    <div id="confirm-password-div">
      <small>Confirm Password</small>
      <input type="password" id="confirm-password" 
      formControlName="repeatPassword"
      name="repeatPassword"
      [ngClass]="{invalid: invalidRepeatPassword}"
      />
    </div>
    <span>
      <input type="checkbox">
      <small>I agree to the <a href="">Terms of Service</a> and <a href="">Privacy Policy</a></small>
    </span>
    <button>Create Account</button>
    <span>Already having an account? 
      <small id="sign-in">Sign in</small>
    </span>
    <span>
      <div id="google-icon"></div>
      Sign in with Gmail
    </span>
  </main>
  </div>
  
</form>

