// Base
$white: var(--white) !default;
$dark: var(--dark) !default;
$light-green: #EFFAFA;
$deep-green: #5CA5A5;
$deep-violet: #A752B5;
$light-violet: #a852b59a;
$white:#ffffff;
$league-Bold:'League-Bold';
$league-Light:'League-Light';
$league-Medium:'League-Medium';
$black:#2B3939;
$ash:#7C8F8F;
$line-color: #B7C4C4;
$gill-san:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
sans-serif;
$text-link-color:#3275F6;
$placeholder-color: #B2AAAA



